body{
    margin: 0;
    padding: 0;
    
}
.nav-bar{
    background-color: #000 !important;
    color: #fff !important;
    overflow: hidden;
}
.nav-bar > a{
    text-decoration: none;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    background-color: inherit;
    color: inherit;
    text-align: center;
    cursor: pointer;
}
.nav-bar >a:hover{
    text-decoration: none;
    background-color: #fff;
    color: #000;
}
.container{
    
}
.book-group{
    margin: 5px;
    background-color: #f2f2f2;
}
.typeList{
	height: 110px;
	list-style-type: none;
	overflow: scroll;
}