
.container{
	width: 400px;
	background-color: #e8eaed;
	margin-top:30px;
	
}
label{
	font-size: 20px;
}
.btn{
	width: 130px;	
}
#error{
	padding-top: 8px;
}
.h2{
	font-size: 20px;
}
.alert{
	display: block;
	margin:0;
	padding-top: 10px;
}
.alert:empty {
	display: none;
}
.controll-btn{
	padding-bottom: 8px;
}